result
*.key
node_modules/
dist/
pkgs/ts/@circles-pink/state-machine/output/
.spago/
.psc-ide-port
.spago2nix/
/tmp
pkgs/ts/assets/src
secrets.json
yarn-error.log
*.buildinfo
ts-dist/
.env
checkouts/
.psci_modules/
account-report.json
# solid state db from gun
radata
results/
generated-docs/
.psa-stash
.gitignore
/output